# Exploratory data analysis

The aim of this section is to obtain an overview understanding of the provided dataset which will be used to inform later analyses.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Portfolio dataset

In [22]:
portfolio = pd.read_csv('./data/processed/portfolio.csv')
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"['email', 'mobile', 'social']",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"['web', 'email', 'mobile']",10,7,discount,2906b810c7d4411798c6938adc9daaa5

The channels

In [24]:
from sklearn.preprocessing import MultiLabelBinarizer

# Convert string to list
portfolio['channels'] = portfolio['channels'].apply(eval)

# Binarise labels
mlb = MultiLabelBinarizer()
expandedLabelData = mlb.fit_transform(portfolio['channels'])

# Create a pandas.DataFrame from our output
expandedLabels = pd.DataFrame(expandedLabelData, columns=mlb.classes_)
expandedLabels

   email  mobile  social  web
0      1       1       1    0
1      1       1       1    1
2      1       1       0    1
3      1       1       0    1
4      1       0       0    1
5      1       1       1    1
6      1       1       1    1
7      1       1       1    0
8      1       1       1    1
9      1       1       0    1

In [7]:
profile = pd.read_csv('./data/raw/profile.csv')
profile.head(20)

In [9]:
transcript = pd.read_csv('./data/raw/transcript.csv')
transcript.head(20)

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}